<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- navbar starts here -->
    <section class="sectionOne" id="home">
      <header class="container">
        <nav>
          <p class="logo h2">
            <a routerLink="/landing"
              ><span class="colorlogo">F</span>REE
              <span class="colorlogo">B</span>IRD</a
            >
          </p>
          <ul class="list">
            <li class="activeLinkDest"><a routerLink="#">Destinations</a></li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/login" (click)="logoutUser()">Logout</a></li>
          </ul>
        </nav>
      </header>
    </section>
    <!-- navbar ends here -->

    <section class="sectionThree" id="destinations">
      <h2 class="des_text">Select your Favourite and Explore...</h2>
      <div class="cards">
        <!-- card 01 -->
        <div class="card">
          <img src="../../assets/images/deserts.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Deserts</h2>

            <p class="card-info">
              Deserts are part of a wider class of regions called drylands.
            </p>
            <button class="card-btn btn text-light" (click)="onClickDesert()">
              Know More...
            </button>
          </div>
        </div>

        <!-- card 02 -->
        <div class="card">
          <img src="../../assets/images/home3.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Valleys</h2>

            <p class="card-info">
              A waterfall is a point in a river or stream where water flows over
              a vertical drop or a series of steep drops.
            </p>
            <button class="card-btn btn text-light" (click)="onClickValleys()">
              Know More...
            </button>
          </div>
        </div>

        <!-- card 04 -->
        <div class="card">
          <img src="../../assets/images/sea.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Oceans</h2>

            <p class="card-info">
              An ocean is a large area of water between continents. Oceans are
              very big and they join smaller seas together. Oceans cover 72% of
              Earth.
            </p>
            <button class="card-btn btn text-light" (click)="onClickSeas()">
              Know More...
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- section three ends here -->

    <!-- footer starts here -->
    <footer class="footer">
      <section class="ffooter">
        <p class="h2 logo">
          <span class="colorlogo">F</span>REE
          <span class="colorlogo">B</span>IRD
        </p>
        <br />
        <p class="text-light text-center footer_text mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorum
          error veniam corporis alias quis earum veritatis, voluptas voluptates
          accusantium
        </p>
        <div class="footer_socials mt-4">
          <a href="#"><i class="uil uil-facebook-f"></i></a>
          <a href="#"><i class="uil uil-instagram"></i></a>
          <a href="#"><i class="uil uil-twitter-alt"></i></a>
          <a href="#"><i class="uil uil-linkedin-alt"></i></a>
        </div>
      </section>
      <section class="sfooter">
        <div>
          <p class="text-light text-center">
            Copyright @ 2022 Free Bird, designed by Sreeja P M
          </p>
        </div>
      </section>
    </footer>
    <!-- footer ends here -->
  </body>
</html>
