<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <section class="sectionOne">
      <header>
        <div class="container">
          <nav>
            <h2 class="logo"><a routerLink="#">FREE BIRD</a></h2>
            <ul class="list">
              <li><a routerLink="#">Home</a></li>
              <li><a routerLink="#about">About</a></li>
              <li><a routerLink="#photos">Photos</a></li>
              <li><a routerLink="#contact">Contact</a></li>
            </ul>
          </nav>
          <div class="overlay"></div>
        </div>
      </header>
    </section>
  </body>
</html>
