<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bird</title>
  </head>
  <body>
    <section class="showcase">
      <header>
        <h2 class="logo fw-bold text-light">
          <!-- <img
            src="../../assets/images/FREE_BIRD-removebg-preview.png"
            alt="logo"
            width="300px"
          /> -->
          FREE BIRD
        </h2>
      </header>

      <video src="../../assets/videos/video.mp4" muted autoplay loop></video>

      <div class="overlay"></div>

      <div class="text">
        <h2>Never Stop</h2>
        <h3>Exploring the World</h3>
        <p>
          Travel makes you realize that no matter how much you know, there’s
          always more to learn.
        </p>
        <a routerLink="/home">EXPLORE</a>
      </div>

      <ul class="social">
        <li>
          <a routerLink="#">
            <img
              src="../../assets/images/fb.png"
              alt="Facebook"
              class="social_img"
          /></a>
        </li>
        <li>
          <a routerLink="#">
            <img
              src="../../assets/images/insta.png"
              class="social_img"
              alt="Instagram"
          /></a>
        </li>
        <li>
          <a routerLink="#">
            <img
              src="../../assets/images/twitter.png"
              alt="Twitter"
              class="social_img"
          /></a>
        </li>
      </ul>
    </section>
  </body>
</html>
